## 라이브러리 import

In [50]:
import pandas as pd  #데이터 분석 라이브러리
import numpy as np # 계산 라이브러리

import matplotlib as mpl # 그래프 라이브러리
import matplotlib.pyplot as plt #pyplot 그래프 라이브러리
import matplotlib.font_manager as fm  #그래프 폰트 라이브러리
from pandas import Series, DataFrame

plt.rc("font", family="Malgun Gothic") #폰트 맑은 고딕 적용

## 데이터 불러오기

In [40]:
kmeans = pd.read_csv('../Data/Result/kmeans.csv',encoding='cp949') #kmeans 타겟 클러스터 데이터
kmedoids = pd.read_csv('../Data/Result/k-medoids.csv',encoding='cp949') #kmedoids 타겟 클러스터 데이터
gmm = pd.read_csv('../Data/Result/gmm.csv',encoding='cp949') #gmm타겟 클러스터 데이터
df = pd.read_csv('../Data/Preprocessing/활성화지표_추가본.csv',encoding='cp949') #전체 데이터
re_city = pd.read_csv('../Data/Preprocessing/re_city.csv',encoding='cp949') #재생도시 데이터

In [31]:
kmeans

,과거대비인구변화(%),최근인구변화(연속감소년수),과거대비사업체변화(%),최근사업체변화(연속감소년수),노후건축물비율(%),노인인구비율,기초생활 대상자 비율,행정동코드
0,-71.395349,3,-2.691790,1,77.192982,4.398734,0.016852,1101054.0
1,-37.690513,3,-15.185185,4,54.545455,6.083636,0.019178,1101057.0
2,-57.091410,5,-0.800000,1,75.487013,4.875425,0.016791,1101060.0
3,-64.354556,3,-6.558862,5,87.413555,5.176142,0.053336,1101063.0
4,-58.991001,5,-11.170213,2,81.572052,5.805782,0.032399,1101064.0
...,...,...,...,...,...,...,...,...
92,-50.225033,5,-13.950073,4,90.035273,5.078967,0.036744,1124051.0
93,-44.188005,4,-33.160622,4,82.733813,5.456130,0.047405,1124054.0
94,-50.376510,2,-10.462472,5,53.546911,6.911884,0.019337,1124068.0
95,-37.813261,4,0.442478,1,50.000000,7.034671,0.007161,1125059.0
96,-35.860909,3,-8.489526,3,73.132724,5.735823,0.034588,1125066.0

In [32]:
kmedoids

,과거대비인구변화(%),최근인구변화(연속감소년수),과거대비사업체변화(%),최근사업체변화(연속감소년수),노후건축물비율(%),노인인구비율,기초생활 대상자 비율,행정동코드
0,-71.395349,3,-2.691790,1,77.192982,4.398734,0.016852,1101054.0
1,-57.091410,5,-0.800000,1,75.487013,4.875425,0.016791,1101060.0
2,-64.354556,3,-6.558862,5,87.413555,5.176142,0.053336,1101063.0
3,-58.991001,5,-11.170213,2,81.572052,5.805782,0.032399,1101064.0
4,-60.099208,5,-9.995818,2,91.774383,4.687551,0.078398,1101067.0
...,...,...,...,...,...,...,...,...
71,-39.658110,3,-24.008811,3,64.174455,6.788057,0.008022,1123080.0
72,-50.225033,5,-13.950073,4,90.035273,5.078967,0.036744,1124051.0
73,-44.188005,4,-33.160622,4,82.733813,5.456130,0.047405,1124054.0
74,-50.376510,2,-10.462472,5,53.546911,6.911884,0.019337,1124068.0
75,-28.072692,4,-4.522613,3,98.275862,4.589184,0.000987,1124078.0

In [33]:
gmm

,과거대비인구변화(%),최근인구변화(연속감소년수),과거대비사업체변화(%),최근사업체변화(연속감소년수),노후건축물비율(%),노인인구비율,기초생활 대상자 비율,행정동코드
0,-71.395349,3,-2.691790,1,77.192982,4.398734,0.016852,1101054.0
1,-17.639112,2,-45.133992,1,65.089723,6.406580,0.021841,1101058.0
2,-10.256026,4,-3.794240,4,75.576037,4.275792,0.116744,1101061.0
3,-64.354556,3,-6.558862,5,87.413555,5.176142,0.053336,1101063.0
4,-49.221646,2,-16.137566,4,90.170512,4.079104,0.104970,1102054.0
5,-64.764320,2,-12.184664,4,94.223827,4.045455,0.069302,1102060.0
6,-37.757063,5,-7.171776,1,88.413098,5.094315,0.177594,1103053.0
7,-42.260503,5,-20.799408,4,89.893617,6.585801,0.031246,1106089.0
8,-38.042701,4,-25.418060,4,77.196885,6.794037,0.051702,1107055.0
9,-16.016399,3,-9.674185,2,83.068783,5.119463,0.093365,1107062.0
10,-35.651936,3,0.782998,0,76.416185,5.159952,0.103489,1107068.0
11,-33.289194,5,-21.405049,4,83.194444,6.138646,0.095925,1108076.0
12,-53.440033,4,-36.621622,5,91.500000,4.530440,0.069479,1108077.0
13,-32.177664,3,-57.370892,4,89.341085,7.749169,0.035987,1108078.0
14,-38.284953,5,-9.188034,2,86.681465,4.099747,0.107682,1109061.0
15,-31.675361,5,-4.950495,2,71.848739,3.718912,0.154407,1109062.0
16,-21.462392,5,-23.106061,3,79.148753,5.007851,0.071465,1109069.0
17,-34.055939,5,-10.144928,3,77.088036,4.660000,0.113832,1110056.0
18,-13.216176,1,-22.734761,2,60.879121,4.650777,0.114558,1111052.0
19,-19.533397,2,0.000000,0,60.424710,6.199504,0.104364,1111058.0
20,-19.289054,5,-0.703400,1,63.270777,5.086880,0.089900,1111064.0
21,-31.643887,4,-28.940986,4,89.918256,4.383035,0.095144,1111076.0
22,-17.604891,5,1.239276,1,79.120879,4.778128,0.137257,1111078.0
23,-65.411820,4,-41.530055,5,81.382979,5.436329,0.058850,1112068.0
24,-25.230451,4,13.449132,1,70.023148,6.778701,0.032559,1114068.0
25,-23.014966,5,-4.640272,2,67.839196,4.722273,0.179184,1116054.0
26,-40.133254,5,-1.478743,2,75.630252,3.600454,0.220490,1116065.0
27,-32.945001,5,-0.839161,1,78.333333,4.226384,0.147374,1116066.0
28,-19.941327,5,17.117117,0,52.737752,5.409194,0.058971,1118058.0
29,-40.898711,2,-25.583658,5,88.372093,5.711804,0.044427,1119065.0
30,-54.382555,4,-35.067437,4,89.122373,5.746367,0.061636,1119066.0
31,-61.490638,4,-23.760684,4,86.467662,5.862678,0.042651,1119067.0
32,-60.356500,2,-6.984668,1,64.387211,5.431365,0.038236,1120066.0
33,-18.514990,2,-39.800641,2,74.067278,5.620063,0.032852,1120072.0
34,-50.871792,2,0.379816,0,55.145119,5.993350,0.017732,1122062.0
35,-82.499049,5,-64.542936,3,74.074074,4.095778,0.025112,1123068.0
36,-15.177349,2,-23.979592,2,72.472924,7.575863,0.033919,1123071.0
37,-35.470532,5,-8.098988,2,87.234043,4.800990,0.107494,1123073.0
38,-24.458639,2,-13.527397,2,59.440559,5.391161,0.073116,1123074.0
39,-36.396428,3,-8.381689,4,68.949772,3.300945,0.221386,1123075.0
40,-39.658110,3,-24.008811,3,64.174455,6.788057,0.008022,1123080.0
41,-44.188005,4,-33.160622,4,82.733813,5.456130,0.047405,1124054.0

In [42]:
raw_data = df[['시도명','자치구','행정동명','과거대비인구변화(%)','최근인구변화(연속감소년수)','과거대비사업체변화(%)','최근사업체변화(연속감소년수)','노후건축물비율(%)', '노인인구비율', 
                  '기초생활 대상자 비율','행정동코드','재생도시']]

## 세 클러스터에서 겹치는 데이터만 추출

In [34]:
#각 모델에서 행정동 코드만 추출
k_mean = kmeans['행정동코드'] 
k_medoids = kmedoids['행정동코드']
g_mm = gmm['행정동코드']

#set 하기 위해 값만 뽑아옴
km_val = k_mean.values
kd_val = k_medoids.values
g_val = g_mm.values

#set진행
km = set(km_val)
kd= set(kd_val)
g = set(g_val)

In [37]:
final = km&kd&g #set을 이용해 겹치는 데이터 추출

In [38]:
final_df = pd.DataFrame(final).rename(columns={0:'행정동코드'}) #결과물 dataframe형태로 바꾸기

In [39]:
final_df

        행정동코드
0   1123073.0
1   1112068.0
2   1101063.0
3   1123080.0
4   1111076.0
5   1106089.0
6   1120066.0
7   1109061.0
8   1103053.0
9   1124054.0
10  1119065.0
11  1119066.0
12  1119067.0
13  1102054.0
14  1102060.0
15  1108076.0
16  1108077.0
17  1107055.0
18  1108078.0
19  1123068.0
20  1101054.0

## 행정동 코드를 이용해 타겟 데이터의 정보 추출

In [43]:
final_target = pd.merge(final_df,raw_data,on=['행정동코드'],how='left')
final_target_all = pd.merge(final_target,re_city,on=['행정동코드'],how='left')

In [44]:
final_target_all

,행정동코드,시도명,자치구,행정동명,과거대비인구변화(%),최근인구변화(연속감소년수),과거대비사업체변화(%),최근사업체변화(연속감소년수),노후건축물비율(%),노인인구비율,기초생활 대상자 비율,재생도시
0,1123073.0,서울특별시,서울특별시 강남구,일원1동,-35.470532,5,-8.098988,2,87.234043,4.800990,0.107494,0.0
1,1112068.0,서울특별시,서울특별시 은평구,수색동,-65.411820,4,-41.530055,5,81.382979,5.436329,0.058850,0.0
2,1101063.0,서울특별시,서울특별시 종로구,종로5·6가동,-64.354556,3,-6.558862,5,87.413555,5.176142,0.053336,0.0
3,1123080.0,서울특별시,서울특별시 강남구,개포2동,-39.658110,3,-24.008811,3,64.174455,6.788057,0.008022,0.0
4,1111076.0,서울특별시,서울특별시 노원구,상계3·4동,-31.643887,4,-28.940986,4,89.918256,4.383035,0.095144,0.0
5,1106089.0,서울특별시,서울특별시 동대문구,이문1동,-42.260503,5,-20.799408,4,89.893617,6.585801,0.031246,0.0
6,1120066.0,서울특별시,서울특별시 동작구,사당4동,-60.356500,2,-6.984668,1,64.387211,5.431365,0.038236,1.0
7,1109061.0,서울특별시,서울특별시 강북구,번2동,-38.284953,5,-9.188034,2,86.681465,4.099747,0.107682,0.0
8,1103053.0,서울특별시,서울특별시 용산구,남영동,-37.757063,5,-7.171776,1,88.413098,5.094315,0.177594,0.0
9,1124054.0,서울특별시,서울특별시 송파구,거여2동,-44.188005,4,-33.160622,4,82.733813,5.456130,0.047405,0.0
10,1119065.0,서울특별시,서울특별시 영등포구,신길3동,-40.898711,2,-25.583658,5,88.372093,5.711804,0.044427,0.0
11,1119066.0,서울특별시,서울특별시 영등포구,신길4동,-54.382555,4,-35.067437,4,89.122373,5.746367,0.061636,0.0
12,1119067.0,서울특별시,서울특별시 영등포구,신길5동,-61.490638,4,-23.760684,4,86.467662,5.862678,0.042651,0.0
13,1102054.0,서울특별시,서울특별시 중구,회현동,-49.221646,2,-16.137566,4,90.170512,4.079104,0.104970,1.0
14,1102060.0,서울특별시,서울특별시 중구,을지로동,-64.764320,2,-12.184664,4,94.223827,4.045455,0.069302,1.0
15,1108076.0,서울특별시,서울특별시 성북구,장위1동,-33.289194,5,-21.405049,4,83.194444,6.138646,0.095925,1.0
16,1108077.0,서울특별시,서울특별시 성북구,장위2동,-53.440033,4,-36.621622,5,91.500000,4.530440,0.069479,1.0
17,1107055.0,서울특별시,서울특별시 중랑구,면목5동,-38.042701,4,-25.418060,4,77.196885,6.794037,0.051702,0.0
18,1108078.0,서울특별시,서울특별시 성북구,장위3동,-32.177664,3,-57.370892,4,89.341085,7.749169,0.035987,1.0
19,1123068.0,서울특별시,서울특별시 강남구,개포1동,-82.499049,5,-64.542936,3,74.074074,4.095778,0.025112,0.0
20,1101054.0,서울특별시,서울특별시 종로구,삼청동,-71.395349,3,-2.691790,1,77.192982,4.398734,0.016852,1.0

In [45]:
final_final_target = final_target_all[final_target_all['재생도시']==0.0] #현재 재생도시 진행중인곳은 대상에서 제외

In [46]:
final_final_target

,행정동코드,시도명,자치구,행정동명,과거대비인구변화(%),최근인구변화(연속감소년수),과거대비사업체변화(%),최근사업체변화(연속감소년수),노후건축물비율(%),노인인구비율,기초생활 대상자 비율,재생도시
0,1123073.0,서울특별시,서울특별시 강남구,일원1동,-35.470532,5,-8.098988,2,87.234043,4.800990,0.107494,0.0
1,1112068.0,서울특별시,서울특별시 은평구,수색동,-65.411820,4,-41.530055,5,81.382979,5.436329,0.058850,0.0
2,1101063.0,서울특별시,서울특별시 종로구,종로5·6가동,-64.354556,3,-6.558862,5,87.413555,5.176142,0.053336,0.0
3,1123080.0,서울특별시,서울특별시 강남구,개포2동,-39.658110,3,-24.008811,3,64.174455,6.788057,0.008022,0.0
4,1111076.0,서울특별시,서울특별시 노원구,상계3·4동,-31.643887,4,-28.940986,4,89.918256,4.383035,0.095144,0.0
5,1106089.0,서울특별시,서울특별시 동대문구,이문1동,-42.260503,5,-20.799408,4,89.893617,6.585801,0.031246,0.0
7,1109061.0,서울특별시,서울특별시 강북구,번2동,-38.284953,5,-9.188034,2,86.681465,4.099747,0.107682,0.0
8,1103053.0,서울특별시,서울특별시 용산구,남영동,-37.757063,5,-7.171776,1,88.413098,5.094315,0.177594,0.0
9,1124054.0,서울특별시,서울특별시 송파구,거여2동,-44.188005,4,-33.160622,4,82.733813,5.456130,0.047405,0.0
10,1119065.0,서울특별시,서울특별시 영등포구,신길3동,-40.898711,2,-25.583658,5,88.372093,5.711804,0.044427,0.0
11,1119066.0,서울특별시,서울특별시 영등포구,신길4동,-54.382555,4,-35.067437,4,89.122373,5.746367,0.061636,0.0
12,1119067.0,서울특별시,서울특별시 영등포구,신길5동,-61.490638,4,-23.760684,4,86.467662,5.862678,0.042651,0.0
17,1107055.0,서울특별시,서울특별시 중랑구,면목5동,-38.042701,4,-25.418060,4,77.196885,6.794037,0.051702,0.0
19,1123068.0,서울특별시,서울특별시 강남구,개포1동,-82.499049,5,-64.542936,3,74.074074,4.095778,0.025112,0.0

In [47]:
final_final_target.to_csv('../Data/Result/final_target_cluster.csv',encoding='cp949',index=False)

## 타겟 클러스터 행정동 특성 도출

In [48]:
target_infor = final_final_target[['과거대비인구변화(%)','최근인구변화(연속감소년수)','과거대비사업체변화(%)','최근사업체변화(연속감소년수)','노후건축물비율(%)',
                                       '노인인구비율','기초생활 대상자 비율']] #타겟 클러스터 행정동 특성 변수 뽑기

In [49]:
target_infor

,과거대비인구변화(%),최근인구변화(연속감소년수),과거대비사업체변화(%),최근사업체변화(연속감소년수),노후건축물비율(%),노인인구비율,기초생활 대상자 비율
0,-35.470532,5,-8.098988,2,87.234043,4.800990,0.107494
1,-65.411820,4,-41.530055,5,81.382979,5.436329,0.058850
2,-64.354556,3,-6.558862,5,87.413555,5.176142,0.053336
3,-39.658110,3,-24.008811,3,64.174455,6.788057,0.008022
4,-31.643887,4,-28.940986,4,89.918256,4.383035,0.095144
5,-42.260503,5,-20.799408,4,89.893617,6.585801,0.031246
7,-38.284953,5,-9.188034,2,86.681465,4.099747,0.107682
8,-37.757063,5,-7.171776,1,88.413098,5.094315,0.177594
9,-44.188005,4,-33.160622,4,82.733813,5.456130,0.047405
10,-40.898711,2,-25.583658,5,88.372093,5.711804,0.044427
11,-54.382555,4,-35.067437,4,89.122373,5.746367,0.061636
12,-61.490638,4,-23.760684,4,86.467662,5.862678,0.042651
17,-38.042701,4,-25.418060,4,77.196885,6.794037,0.051702
19,-82.499049,5,-64.542936,3,74.074074,4.095778,0.025112

In [55]:
target_infor.iloc[:,1].count()

14

In [13]:
#각 변수별 평균
aad = []
for i in range(0,7):
        a  = target_infor.iloc[:,i].sum()/14
        aad.append(a)

In [15]:
aad

[-48.310220280936626,
 4.071428571428571,
 -25.273593948893513,
 3.5714285714285716,
 83.79131197382522,
 5.430800702071428,
 0.06516429479052267]

## 전체 집단 특성 도출(타겟 클러스터의 특성과 비교하기 위함)

In [56]:
total = raw_data[['과거대비인구변화(%)','최근인구변화(연속감소년수)','과거대비사업체변화(%)','최근사업체변화(연속감소년수)','노후건축물비율(%)','노인인구비율','기초생활 대상자 비율']]

In [57]:
total

,과거대비인구변화(%),최근인구변화(연속감소년수),과거대비사업체변화(%),최근사업체변화(연속감소년수),노후건축물비율(%),노인인구비율,기초생활 대상자 비율
0,-13.703589,2,0.338696,1,73.636364,5.471891,0.014819
1,-71.395349,3,-2.691790,1,77.192982,4.398734,0.016852
2,-28.333333,5,4.251386,1,75.547703,5.606197,0.015518
3,-4.272303,4,2.092050,0,71.133568,5.428951,0.007883
4,-37.690513,3,-15.185185,4,54.545455,6.083636,0.019178
...,...,...,...,...,...,...,...
418,-14.897188,5,-0.754549,1,53.799392,6.271762,0.028701
419,-14.202147,3,-5.244253,3,63.047138,6.160245,0.019830
420,-16.278442,3,-3.260870,2,62.685851,5.881427,0.054802
421,-6.641188,3,-8.824392,1,74.177313,5.778005,0.056432
422,-10.596548,4,-2.389974,1,63.755679,5.979868,0.032574

In [58]:
total.iloc[:,1].count()

423

In [59]:
#각 변수별 평균
aad_total = []
for i in range(0,7):
        b  = total.iloc[:,i].sum()/423
        aad_total.append(b)

In [60]:
aad_total

[-19.482527157523638,
 3.5768321513002364,
 -5.058446701741968,
 1.962174940898345,
 70.9393032992157,
 6.349491076356974,
 0.03851633197109219]